body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;

}


.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  background: #fff;
  border: 1px solid;
  border-radius: 12px;
  width: 230px;
  padding: 20px;
  transition: transform 0.8s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* --- Image hover effect --- */
.img-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease;
  border-radius: 8px;
}

.back-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-wrapper:hover .back-img {
  opacity: 1;
}

.img-wrapper:hover .front-img {
  opacity: 0;
}
